.client_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.client {
  display: flex;
  justify-content: space-between;
}
.client_item {
  display: flex;
  margin-right: 30px;
  justify-content: space-around;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.client_item:hover,
.client_item:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
