.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu_list {
  display: flex;
  align-items: center;
}
.menu_item:not(:last-child) {
  margin-right: 50px;
}
.menu_link_list {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $color-exclusiv;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.menu_link_list:hover,
.menu_link_list:focus {
  color: $color-accent;
}
.menu_item:not(:last-child) {
  margin-right: 50px;
}
.icon_head {
  margin-right: 93px;
}
.address_item {
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  color: $color-secondary;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.address_item:hover,
.address_item:focus {
  color: $color-accent;
}
.address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.address_link:not(:last-child) {
  margin-right: 50px;
}
.link-mail {
  margin-right: 10px;
  fill: currentColor;
}
.link-phone {
  margin-right: 10px;
  fill: currentColor;
}
.color_accent {
  color: $color-accent;
}
.accent {
  color: $color-accent;
}
